<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h2>About</h2>
        <img class="portrait" src="/img/someImage.jpeg" />
    </div>
    {{>footer}}
</body>

</html>